* {
    border: none;
    border-radius: 0px 0px 6px 6px;
    font-family: Monoid Nerd Font, monospace;
    font-weight: normal;
    font-style:  normal;
    font-size: 12px;
}

window#waybar {
    background-color: transparent;
    color: #eeeeee;
    transition-property: background-color;
    transition-duration: .1s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-left: 10px;
    text-shadow: 0 0 10px #000;
}

#workspaces {
    background: linear-gradient(to top, #151515, #151515 6px, #262626 6px);
    background-color: #262626;
    border-radius: 0px 0px 6px 6px;
}

#workspaces button {
    padding: 0 6px;
    color: #ffffff;
    border-radius: 0px 0px 6px 6px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #2f2f2f;
    border-radius: 6px;
}

#workspaces button.focused {
    background-color: #87d65e;
    border-radius: 0px 0px 6px 6px;
    box-shadow: inset 0 -6px #4f7f38;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #454545;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    background: linear-gradient(to top, #151515, #151515 6px, #262626 6px);
    padding: 12px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
}

#battery.charging {
    color: #87d65e;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}
